html {
    scroll-behavior: smooth;
}

.arrow-div {
    height: 200px;
    position: relative;
    width: 200px;
}

@keyframes bouncing {
    0% {bottom: 0;}
    50% {bottom: 20px;}
    100% {bottom: 0;}
}

.arrow {
    animation: bouncing 1s infinite ease-in-out;
    bottom: 0;
    display: block;
    height: 50px;
    left: 50%;
    margin-left: -30%;
    position: absolute;
    width: 50px;
}